.container {
  text-align: center;
}

.mainArea {
  display: inline-block;
  margin-top: 10rem;
  background: greenyellow;
  width: 50rem;
  height: 20rem;
}

.mainArea > button {
  margin-top: 7rem;
}

.mainArea > h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mainDiv {
  display: none;
  height: inherit;
  width: inherit;
  /* background: red; */
}

.option {
  display: inline-block;
  margin: 0 1rem 0 1rem;
}

.option:hover {
  opacity: 0.2;
}

.options {
  margin-bottom: 1rem;
}

.question > p {
  margin-bottom: 0;
}

.resultDiv {
  display: none;
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.resultDiv > h3 {
  width: auto;
}
